<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PokePython</title>
</head>
<body class="w-50 mt-5 m-auto">
    <!-- ========================= -->
    <!-- NAVIGATION BAR -->
    <!-- ========================= -->
    <div class="container mt-3">
        <div class="d-flex justify-content-between">
            <h1>PokePython</h1>
            <div class="d-flex align-items-center gap-5">
                <a href="/dashboard">Pokedex</a>
                <h3>Welcome {{user.first_name}} {{user.last_name}}!</h3>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>Gotta Catch 'Em All</div>
            <div class="d-flex align-items-center gap-3">
                <h5><a href="/pokemon/new" class="btn btn-success shadow">Caught a Pokemon</a></h5>
                <h5><a href="/logout" class="btn btn-danger shadow">Logout</a></h5>
            </div>
        </div>
    </div>

    <!-- ========================= -->
    <!-- MAIN CONTENT -->
    <!-- ========================= -->
    <div class="container mt-3">
        <h1>Add to your Pokedex!</h1>
        {% with messages = get_flashed_messages() %}     
            {% if messages %}                           
                {% for message in messages %}            
                    <p class="text-danger" style="text-align: center;">{{message}}</p>        
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="container">
            <form action="/pokemon/update/{{poke.id}}" method="post">

                <div class="d-flex justify-content-between align-items-top">

                    <div>
                        <div class="form-group mb-3">
                            <label>Name:</label>
                            <input type="text" name="name" value="{{poke.name}}" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label>Type:</label>
                            <input type="text" name="type1" value="{{poke.type1}}" class="form-control">
                        </div>

                        {% if poke.type2 %}
                            <div class="form-group mb-3">
                                <label>Type:</label>
                                <input type="text" name="type2" value="{{poke.type2}}" class="form-control">
                            </div>
                        {% else %}
                            <div class="form-group mb-3">
                                <label>Type:</label>
                                <input type="text" name="type2" class="form-control">
                            </div>
                        {% endif %}

                        <!-- ========= -->
                        <!-- Abilities -->
                        <!-- ========= -->
                        <div class="form-group mb-3">
                            <label>Ability:</label>
                            <input type="text" name="ability1" value="{{poke.ability1}}" class="form-control">
                        </div>


                        {% if poke.ability2 %}
                        <div class="form-group mb-3">
                            <label>Ability:</label>
                            <input type="text" name="ability2" value="{{poke.ability2}}" class="form-control">
                        </div>
                        {% else %}
                        <div class="form-group mb-3">
                            <label>Ability:</label>
                            <input type="text" name="ability2" class="form-control">
                        </div>
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if poke.ability3 %}
                        <div class="form-group mb-3">
                            <label>Ability:</label>
                            <input type="text" name="ability3" value="{{poke.ability3}}" class="form-control">
                        </div>
                        {% else %}
                        <div class="form-group mb-3">
                            <label>Ability:</label>
                            <input type="text" name="ability3" class="form-control">
                        </div>
                        {% endif %}

                        <!-- ========= -->
                        <!-- Weaknesses -->
                        <!-- ========= -->
                        <div class="form-group mb-3">
                            <label>Weakness:</label>
                            <input type="text" name="weakness1" value="{{poke.weakness1}}" class="form-control">
                        </div>
                        
                        {% if poke.weakness2 %}
                        <div class="form-group mb-3">
                            <label>Weakness:</label>
                            <input type="text" name="weakness2" value="{{poke.weakness2}}" class="form-control">
                        </div>
                        {% else %}
                        <div class="form-group mb-3">
                            <label>Weakness:</label>
                            <input type="text" name="weakness2" class="form-control">
                        </div>
                        {% endif %}
                        
                        <input type="submit" value="Edit!" class="btn btn-success shadow mt-3">
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</body>
</html>