@import url("https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  color: whitesmoke;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-left {
  justify-content: left;
}

.jc-right {
  justify-content: right;
}

.jc-stretch {
  justify-content: stretch;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-stretch {
  align-items: stretch;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.ai-end {
  align-items: end;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-flex-start {
  align-items: flex-start;
}

.g-1 {
  gap: 1em;
}

.g-2 {
  gap: 2em;
}

.g-3 {
  gap: 3em;
}

.g-4 {
  gap: 4em;
}

.g-5 {
  gap: 5em;
}

.o-10 {
  opacity: 0.1;
}

.o-15 {
  opacity: 0.15;
}

.o-20 {
  opacity: 0.2;
}

.o-25 {
  opacity: 0.25;
}

.o-30 {
  opacity: 0.3;
}

.o-35 {
  opacity: 0.35;
}

.o-40 {
  opacity: 0.4;
}

.o-45 {
  opacity: 0.45;
}

.o-50 {
  opacity: 0.5;
}

.o-55 {
  opacity: 0.55;
}

.o-60 {
  opacity: 0.6;
}

.o-65 {
  opacity: 0.65;
}

.o-70 {
  opacity: 0.7;
}

.o-75 {
  opacity: 0.75;
}

.o-80 {
  opacity: 0.8;
}

.o-85 {
  opacity: 0.85;
}

.o-90 {
  opacity: 0.9;
}

.o-95 {
  opacity: 0.95;
}

.o-100 {
  opacity: 1;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75em;
}

.p-2 {
  padding: 1.125em;
}

.p-3 {
  padding: 1.5em;
}

.p-4 {
  padding: 1.875em;
}

.p-5 {
  padding: 2.25em;
}

.p-6 {
  padding: 2.625em;
}

.p-7 {
  padding: 3em;
}

.p-8 {
  padding: 3.375em;
}

.p-9 {
  padding: 3.75em;
}

.p-10 {
  padding: 4.125em;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75em;
}

.pr-2 {
  padding-right: 1.125em;
}

.pr-3 {
  padding-right: 1.5em;
}

.pr-4 {
  padding-right: 1.875em;
}

.pr-5 {
  padding-right: 2.25em;
}

.pr-6 {
  padding-right: 2.625em;
}

.pr-7 {
  padding-right: 3em;
}

.pr-8 {
  padding-right: 3.375em;
}

.pr-9 {
  padding-right: 3.75em;
}

.pr-10 {
  padding-right: 4.125em;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75em;
}

.pt-2 {
  padding-top: 1.125em;
}

.pt-3 {
  padding-top: 1.5em;
}

.pt-4 {
  padding-top: 1.875em;
}

.pt-5 {
  padding-top: 2.25em;
}

.pt-6 {
  padding-top: 2.625em;
}

.pt-7 {
  padding-top: 3em;
}

.pt-8 {
  padding-top: 3.375em;
}

.pt-9 {
  padding-top: 3.75em;
}

.pt-10 {
  padding-top: 4.125em;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75em;
}

.pb-2 {
  padding-bottom: 1.125em;
}

.pb-3 {
  padding-bottom: 1.5em;
}

.pb-4 {
  padding-bottom: 1.875em;
}

.pb-5 {
  padding-bottom: 2.25em;
}

.pb-6 {
  padding-bottom: 2.625em;
}

.pb-7 {
  padding-bottom: 3em;
}

.pb-8 {
  padding-bottom: 3.375em;
}

.pb-9 {
  padding-bottom: 3.75em;
}

.pb-10 {
  padding-bottom: 4.125em;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75em;
}

.pl-2 {
  padding-left: 1.125em;
}

.pl-3 {
  padding-left: 1.5em;
}

.pl-4 {
  padding-left: 1.875em;
}

.pl-5 {
  padding-left: 2.25em;
}

.pl-6 {
  padding-left: 2.625em;
}

.pl-7 {
  padding-left: 3em;
}

.pl-8 {
  padding-left: 3.375em;
}

.pl-9 {
  padding-left: 3.75em;
}

.pl-10 {
  padding-left: 4.125em;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: 0 auto;
}

.m-1 {
  margin: 0.75em;
}

.m-2 {
  margin: 1.125em;
}

.m-3 {
  margin: 1.5em;
}

.m-4 {
  margin: 1.875em;
}

.m-5 {
  margin: 2.25em;
}

.m-6 {
  margin: 2.625em;
}

.m-7 {
  margin: 3em;
}

.m-8 {
  margin: 3.375em;
}

.m-9 {
  margin: 3.75em;
}

.m-10 {
  margin: 4.125em;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75em;
}

.mr-2 {
  margin-right: 1.125em;
}

.mr-3 {
  margin-right: 1.5em;
}

.mr-4 {
  margin-right: 1.875em;
}

.mr-5 {
  margin-right: 2.25em;
}

.mr-6 {
  margin-right: 2.625em;
}

.mr-7 {
  margin-right: 3em;
}

.mr-8 {
  margin-right: 3.375em;
}

.mr-9 {
  margin-right: 3.75em;
}

.mr-10 {
  margin-right: 4.125em;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75em;
}

.mt-2 {
  margin-top: 1.125em;
}

.mt-3 {
  margin-top: 1.5em;
}

.mt-4 {
  margin-top: 1.875em;
}

.mt-5 {
  margin-top: 2.25em;
}

.mt-6 {
  margin-top: 2.625em;
}

.mt-7 {
  margin-top: 3em;
}

.mt-8 {
  margin-top: 3.375em;
}

.mt-9 {
  margin-top: 3.75em;
}

.mt-10 {
  margin-top: 4.125em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75em;
}

.mb-2 {
  margin-bottom: 1.125em;
}

.mb-3 {
  margin-bottom: 1.5em;
}

.mb-4 {
  margin-bottom: 1.875em;
}

.mb-5 {
  margin-bottom: 2.25em;
}

.mb-6 {
  margin-bottom: 2.625em;
}

.mb-7 {
  margin-bottom: 3em;
}

.mb-8 {
  margin-bottom: 3.375em;
}

.mb-9 {
  margin-bottom: 3.75em;
}

.mb-10 {
  margin-bottom: 4.125em;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75em;
}

.ml-2 {
  margin-left: 1.125em;
}

.ml-3 {
  margin-left: 1.5em;
}

.ml-4 {
  margin-left: 1.875em;
}

.ml-5 {
  margin-left: 2.25em;
}

.ml-6 {
  margin-left: 2.625em;
}

.ml-7 {
  margin-left: 3em;
}

.ml-8 {
  margin-left: 3.375em;
}

.ml-9 {
  margin-left: 3.75em;
}

.ml-10 {
  margin-left: 4.125em;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-white-light-1 {
  color: white;
}

.text-white-dark-1 {
  color: #e6e6e6;
}

.bg-white-light-1 {
  background-color: white;
}

.bg-white-dark-1 {
  background-color: #e6e6e6;
}

.b-1-white {
  border: #ffffff 1px solid;
}

.text-white-light-2 {
  color: white;
}

.text-white-dark-2 {
  color: #cccccc;
}

.bg-white-light-2 {
  background-color: white;
}

.bg-white-dark-2 {
  background-color: #cccccc;
}

.b-2-white {
  border: #ffffff 2px solid;
}

.text-white-light-3 {
  color: white;
}

.text-white-dark-3 {
  color: #b3b3b3;
}

.bg-white-light-3 {
  background-color: white;
}

.bg-white-dark-3 {
  background-color: #b3b3b3;
}

.b-3-white {
  border: #ffffff 3px solid;
}

.text-white-light-4 {
  color: white;
}

.text-white-dark-4 {
  color: #999999;
}

.bg-white-light-4 {
  background-color: white;
}

.bg-white-dark-4 {
  background-color: #999999;
}

.b-4-white {
  border: #ffffff 4px solid;
}

.text-white-light-5 {
  color: white;
}

.text-white-dark-5 {
  color: gray;
}

.bg-white-light-5 {
  background-color: white;
}

.bg-white-dark-5 {
  background-color: gray;
}

.b-5-white {
  border: #ffffff 5px solid;
}

.text-white-light-6 {
  color: white;
}

.text-white-dark-6 {
  color: #666666;
}

.bg-white-light-6 {
  background-color: white;
}

.bg-white-dark-6 {
  background-color: #666666;
}

.b-6-white {
  border: #ffffff 6px solid;
}

.text-white-light-7 {
  color: white;
}

.text-white-dark-7 {
  color: #4d4d4d;
}

.bg-white-light-7 {
  background-color: white;
}

.bg-white-dark-7 {
  background-color: #4d4d4d;
}

.b-7-white {
  border: #ffffff 7px solid;
}

.text-white-light-8 {
  color: white;
}

.text-white-dark-8 {
  color: #333333;
}

.bg-white-light-8 {
  background-color: white;
}

.bg-white-dark-8 {
  background-color: #333333;
}

.b-8-white {
  border: #ffffff 8px solid;
}

.text-white-light-9 {
  color: white;
}

.text-white-dark-9 {
  color: #1a1a1a;
}

.bg-white-light-9 {
  background-color: white;
}

.bg-white-dark-9 {
  background-color: #1a1a1a;
}

.b-9-white {
  border: #ffffff 9px solid;
}

.text-whitesmoke {
  color: whitesmoke;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.text-whitesmoke-light-1 {
  color: #f6f6f6;
}

.text-whitesmoke-dark-1 {
  color: #dddddd;
}

.bg-whitesmoke-light-1 {
  background-color: #f6f6f6;
}

.bg-whitesmoke-dark-1 {
  background-color: #dddddd;
}

.b-1-whitesmoke {
  border: whitesmoke 1px solid;
}

.text-whitesmoke-light-2 {
  color: #f7f7f7;
}

.text-whitesmoke-dark-2 {
  color: #c4c4c4;
}

.bg-whitesmoke-light-2 {
  background-color: #f7f7f7;
}

.bg-whitesmoke-dark-2 {
  background-color: #c4c4c4;
}

.b-2-whitesmoke {
  border: whitesmoke 2px solid;
}

.text-whitesmoke-light-3 {
  color: #f8f8f8;
}

.text-whitesmoke-dark-3 {
  color: #acacac;
}

.bg-whitesmoke-light-3 {
  background-color: #f8f8f8;
}

.bg-whitesmoke-dark-3 {
  background-color: #acacac;
}

.b-3-whitesmoke {
  border: whitesmoke 3px solid;
}

.text-whitesmoke-light-4 {
  color: #f9f9f9;
}

.text-whitesmoke-dark-4 {
  color: #939393;
}

.bg-whitesmoke-light-4 {
  background-color: #f9f9f9;
}

.bg-whitesmoke-dark-4 {
  background-color: #939393;
}

.b-4-whitesmoke {
  border: whitesmoke 4px solid;
}

.text-whitesmoke-light-5 {
  color: #fafafa;
}

.text-whitesmoke-dark-5 {
  color: #7b7b7b;
}

.bg-whitesmoke-light-5 {
  background-color: #fafafa;
}

.bg-whitesmoke-dark-5 {
  background-color: #7b7b7b;
}

.b-5-whitesmoke {
  border: whitesmoke 5px solid;
}

.text-whitesmoke-light-6 {
  color: #fbfbfb;
}

.text-whitesmoke-dark-6 {
  color: #626262;
}

.bg-whitesmoke-light-6 {
  background-color: #fbfbfb;
}

.bg-whitesmoke-dark-6 {
  background-color: #626262;
}

.b-6-whitesmoke {
  border: whitesmoke 6px solid;
}

.text-whitesmoke-light-7 {
  color: #fcfcfc;
}

.text-whitesmoke-dark-7 {
  color: #4a4a4a;
}

.bg-whitesmoke-light-7 {
  background-color: #fcfcfc;
}

.bg-whitesmoke-dark-7 {
  background-color: #4a4a4a;
}

.b-7-whitesmoke {
  border: whitesmoke 7px solid;
}

.text-whitesmoke-light-8 {
  color: #fdfdfd;
}

.text-whitesmoke-dark-8 {
  color: #313131;
}

.bg-whitesmoke-light-8 {
  background-color: #fdfdfd;
}

.bg-whitesmoke-dark-8 {
  background-color: #313131;
}

.b-8-whitesmoke {
  border: whitesmoke 8px solid;
}

.text-whitesmoke-light-9 {
  color: #fefefe;
}

.text-whitesmoke-dark-9 {
  color: #191919;
}

.bg-whitesmoke-light-9 {
  background-color: #fefefe;
}

.bg-whitesmoke-dark-9 {
  background-color: #191919;
}

.b-9-whitesmoke {
  border: whitesmoke 9px solid;
}

.text-yellow {
  color: #fbd743;
}

.bg-yellow {
  background-color: #fbd743;
}

.text-yellow-light-1 {
  color: #fbdb56;
}

.text-yellow-dark-1 {
  color: #e2c23c;
}

.bg-yellow-light-1 {
  background-color: #fbdb56;
}

.bg-yellow-dark-1 {
  background-color: #e2c23c;
}

.b-1-yellow {
  border: #fbd743 1px solid;
}

.text-yellow-light-2 {
  color: #fcdf69;
}

.text-yellow-dark-2 {
  color: #c9ac36;
}

.bg-yellow-light-2 {
  background-color: #fcdf69;
}

.bg-yellow-dark-2 {
  background-color: #c9ac36;
}

.b-2-yellow {
  border: #fbd743 2px solid;
}

.text-yellow-light-3 {
  color: #fce37b;
}

.text-yellow-dark-3 {
  color: #b0972f;
}

.bg-yellow-light-3 {
  background-color: #fce37b;
}

.bg-yellow-dark-3 {
  background-color: #b0972f;
}

.b-3-yellow {
  border: #fbd743 3px solid;
}

.text-yellow-light-4 {
  color: #fde78e;
}

.text-yellow-dark-4 {
  color: #978128;
}

.bg-yellow-light-4 {
  background-color: #fde78e;
}

.bg-yellow-dark-4 {
  background-color: #978128;
}

.b-4-yellow {
  border: #fbd743 4px solid;
}

.text-yellow-light-5 {
  color: #fdeba1;
}

.text-yellow-dark-5 {
  color: #7e6c22;
}

.bg-yellow-light-5 {
  background-color: #fdeba1;
}

.bg-yellow-dark-5 {
  background-color: #7e6c22;
}

.b-5-yellow {
  border: #fbd743 5px solid;
}

.text-yellow-light-6 {
  color: #fdefb4;
}

.text-yellow-dark-6 {
  color: #64561b;
}

.bg-yellow-light-6 {
  background-color: #fdefb4;
}

.bg-yellow-dark-6 {
  background-color: #64561b;
}

.b-6-yellow {
  border: #fbd743 6px solid;
}

.text-yellow-light-7 {
  color: #fef3c7;
}

.text-yellow-dark-7 {
  color: #4b4114;
}

.bg-yellow-light-7 {
  background-color: #fef3c7;
}

.bg-yellow-dark-7 {
  background-color: #4b4114;
}

.b-7-yellow {
  border: #fbd743 7px solid;
}

.text-yellow-light-8 {
  color: #fef7d9;
}

.text-yellow-dark-8 {
  color: #322b0d;
}

.bg-yellow-light-8 {
  background-color: #fef7d9;
}

.bg-yellow-dark-8 {
  background-color: #322b0d;
}

.b-8-yellow {
  border: #fbd743 8px solid;
}

.text-yellow-light-9 {
  color: #fffbec;
}

.text-yellow-dark-9 {
  color: #191607;
}

.bg-yellow-light-9 {
  background-color: #fffbec;
}

.bg-yellow-dark-9 {
  background-color: #191607;
}

.b-9-yellow {
  border: #fbd743 9px solid;
}

.text-red {
  color: #ff1f1f;
}

.bg-red {
  background-color: #ff1f1f;
}

.text-red-light-1 {
  color: #ff3535;
}

.text-red-dark-1 {
  color: #e61c1c;
}

.bg-red-light-1 {
  background-color: #ff3535;
}

.bg-red-dark-1 {
  background-color: #e61c1c;
}

.b-1-red {
  border: #ff1f1f 1px solid;
}

.text-red-light-2 {
  color: #ff4c4c;
}

.text-red-dark-2 {
  color: #cc1919;
}

.bg-red-light-2 {
  background-color: #ff4c4c;
}

.bg-red-dark-2 {
  background-color: #cc1919;
}

.b-2-red {
  border: #ff1f1f 2px solid;
}

.text-red-light-3 {
  color: #ff6262;
}

.text-red-dark-3 {
  color: #b31616;
}

.bg-red-light-3 {
  background-color: #ff6262;
}

.bg-red-dark-3 {
  background-color: #b31616;
}

.b-3-red {
  border: #ff1f1f 3px solid;
}

.text-red-light-4 {
  color: #ff7979;
}

.text-red-dark-4 {
  color: #991313;
}

.bg-red-light-4 {
  background-color: #ff7979;
}

.bg-red-dark-4 {
  background-color: #991313;
}

.b-4-red {
  border: #ff1f1f 4px solid;
}

.text-red-light-5 {
  color: #ff8f8f;
}

.text-red-dark-5 {
  color: #801010;
}

.bg-red-light-5 {
  background-color: #ff8f8f;
}

.bg-red-dark-5 {
  background-color: #801010;
}

.b-5-red {
  border: #ff1f1f 5px solid;
}

.text-red-light-6 {
  color: #ffa5a5;
}

.text-red-dark-6 {
  color: #660c0c;
}

.bg-red-light-6 {
  background-color: #ffa5a5;
}

.bg-red-dark-6 {
  background-color: #660c0c;
}

.b-6-red {
  border: #ff1f1f 6px solid;
}

.text-red-light-7 {
  color: #ffbcbc;
}

.text-red-dark-7 {
  color: #4d0909;
}

.bg-red-light-7 {
  background-color: #ffbcbc;
}

.bg-red-dark-7 {
  background-color: #4d0909;
}

.b-7-red {
  border: #ff1f1f 7px solid;
}

.text-red-light-8 {
  color: #ffd2d2;
}

.text-red-dark-8 {
  color: #330606;
}

.bg-red-light-8 {
  background-color: #ffd2d2;
}

.bg-red-dark-8 {
  background-color: #330606;
}

.b-8-red {
  border: #ff1f1f 8px solid;
}

.text-red-light-9 {
  color: #ffe9e9;
}

.text-red-dark-9 {
  color: #1a0303;
}

.bg-red-light-9 {
  background-color: #ffe9e9;
}

.bg-red-dark-9 {
  background-color: #1a0303;
}

.b-9-red {
  border: #ff1f1f 9px solid;
}

.text-blue {
  color: #363b81;
}

.bg-blue {
  background-color: #363b81;
}

.text-blue-light-1 {
  color: #4a4f8e;
}

.text-blue-dark-1 {
  color: #313574;
}

.bg-blue-light-1 {
  background-color: #4a4f8e;
}

.bg-blue-dark-1 {
  background-color: #313574;
}

.b-1-blue {
  border: #363b81 1px solid;
}

.text-blue-light-2 {
  color: #5e629a;
}

.text-blue-dark-2 {
  color: #2b2f67;
}

.bg-blue-light-2 {
  background-color: #5e629a;
}

.bg-blue-dark-2 {
  background-color: #2b2f67;
}

.b-2-blue {
  border: #363b81 2px solid;
}

.text-blue-light-3 {
  color: #7276a7;
}

.text-blue-dark-3 {
  color: #26295a;
}

.bg-blue-light-3 {
  background-color: #7276a7;
}

.bg-blue-dark-3 {
  background-color: #26295a;
}

.b-3-blue {
  border: #363b81 3px solid;
}

.text-blue-light-4 {
  color: #8689b3;
}

.text-blue-dark-4 {
  color: #20234d;
}

.bg-blue-light-4 {
  background-color: #8689b3;
}

.bg-blue-dark-4 {
  background-color: #20234d;
}

.b-4-blue {
  border: #363b81 4px solid;
}

.text-blue-light-5 {
  color: #9b9dc0;
}

.text-blue-dark-5 {
  color: #1b1e41;
}

.bg-blue-light-5 {
  background-color: #9b9dc0;
}

.bg-blue-dark-5 {
  background-color: #1b1e41;
}

.b-5-blue {
  border: #363b81 5px solid;
}

.text-blue-light-6 {
  color: #afb1cd;
}

.text-blue-dark-6 {
  color: #161834;
}

.bg-blue-light-6 {
  background-color: #afb1cd;
}

.bg-blue-dark-6 {
  background-color: #161834;
}

.b-6-blue {
  border: #363b81 6px solid;
}

.text-blue-light-7 {
  color: #c3c4d9;
}

.text-blue-dark-7 {
  color: #101227;
}

.bg-blue-light-7 {
  background-color: #c3c4d9;
}

.bg-blue-dark-7 {
  background-color: #101227;
}

.b-7-blue {
  border: #363b81 7px solid;
}

.text-blue-light-8 {
  color: #d7d8e6;
}

.text-blue-dark-8 {
  color: #0b0c1a;
}

.bg-blue-light-8 {
  background-color: #d7d8e6;
}

.bg-blue-dark-8 {
  background-color: #0b0c1a;
}

.b-8-blue {
  border: #363b81 8px solid;
}

.text-blue-light-9 {
  color: #ebebf2;
}

.text-blue-dark-9 {
  color: #05060d;
}

.bg-blue-light-9 {
  background-color: #ebebf2;
}

.bg-blue-dark-9 {
  background-color: #05060d;
}

.b-9-blue {
  border: #363b81 9px solid;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-black-light-1 {
  color: #1a1a1a;
}

.text-black-dark-1 {
  color: black;
}

.bg-black-light-1 {
  background-color: #1a1a1a;
}

.bg-black-dark-1 {
  background-color: black;
}

.b-1-black {
  border: black 1px solid;
}

.text-black-light-2 {
  color: #333333;
}

.text-black-dark-2 {
  color: black;
}

.bg-black-light-2 {
  background-color: #333333;
}

.bg-black-dark-2 {
  background-color: black;
}

.b-2-black {
  border: black 2px solid;
}

.text-black-light-3 {
  color: #4d4d4d;
}

.text-black-dark-3 {
  color: black;
}

.bg-black-light-3 {
  background-color: #4d4d4d;
}

.bg-black-dark-3 {
  background-color: black;
}

.b-3-black {
  border: black 3px solid;
}

.text-black-light-4 {
  color: #666666;
}

.text-black-dark-4 {
  color: black;
}

.bg-black-light-4 {
  background-color: #666666;
}

.bg-black-dark-4 {
  background-color: black;
}

.b-4-black {
  border: black 4px solid;
}

.text-black-light-5 {
  color: gray;
}

.text-black-dark-5 {
  color: black;
}

.bg-black-light-5 {
  background-color: gray;
}

.bg-black-dark-5 {
  background-color: black;
}

.b-5-black {
  border: black 5px solid;
}

.text-black-light-6 {
  color: #999999;
}

.text-black-dark-6 {
  color: black;
}

.bg-black-light-6 {
  background-color: #999999;
}

.bg-black-dark-6 {
  background-color: black;
}

.b-6-black {
  border: black 6px solid;
}

.text-black-light-7 {
  color: #b3b3b3;
}

.text-black-dark-7 {
  color: black;
}

.bg-black-light-7 {
  background-color: #b3b3b3;
}

.bg-black-dark-7 {
  background-color: black;
}

.b-7-black {
  border: black 7px solid;
}

.text-black-light-8 {
  color: #cccccc;
}

.text-black-dark-8 {
  color: black;
}

.bg-black-light-8 {
  background-color: #cccccc;
}

.bg-black-dark-8 {
  background-color: black;
}

.b-8-black {
  border: black 8px solid;
}

.text-black-light-9 {
  color: #e6e6e6;
}

.text-black-dark-9 {
  color: black;
}

.bg-black-light-9 {
  background-color: #e6e6e6;
}

.bg-black-dark-9 {
  background-color: black;
}

.b-9-black {
  border: black 9px solid;
}

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}

.w-1p {
  width: 1%;
}

.w-1vw {
  width: 1vw;
}

.w-1px {
  width: 1px;
}

.h-1p {
  height: 1%;
}

.h-1vh {
  height: 1vh;
}

.h-1px {
  height: 1px;
}

.w-2p {
  width: 2%;
}

.w-2vw {
  width: 2vw;
}

.w-2px {
  width: 2px;
}

.h-2p {
  height: 2%;
}

.h-2vh {
  height: 2vh;
}

.h-2px {
  height: 2px;
}

.w-3p {
  width: 3%;
}

.w-3vw {
  width: 3vw;
}

.w-3px {
  width: 3px;
}

.h-3p {
  height: 3%;
}

.h-3vh {
  height: 3vh;
}

.h-3px {
  height: 3px;
}

.w-4p {
  width: 4%;
}

.w-4vw {
  width: 4vw;
}

.w-4px {
  width: 4px;
}

.h-4p {
  height: 4%;
}

.h-4vh {
  height: 4vh;
}

.h-4px {
  height: 4px;
}

.w-5p {
  width: 5%;
}

.w-5vw {
  width: 5vw;
}

.w-5px {
  width: 5px;
}

.h-5p {
  height: 5%;
}

.h-5vh {
  height: 5vh;
}

.h-5px {
  height: 5px;
}

.w-6p {
  width: 6%;
}

.w-6vw {
  width: 6vw;
}

.w-6px {
  width: 6px;
}

.h-6p {
  height: 6%;
}

.h-6vh {
  height: 6vh;
}

.h-6px {
  height: 6px;
}

.w-7p {
  width: 7%;
}

.w-7vw {
  width: 7vw;
}

.w-7px {
  width: 7px;
}

.h-7p {
  height: 7%;
}

.h-7vh {
  height: 7vh;
}

.h-7px {
  height: 7px;
}

.w-8p {
  width: 8%;
}

.w-8vw {
  width: 8vw;
}

.w-8px {
  width: 8px;
}

.h-8p {
  height: 8%;
}

.h-8vh {
  height: 8vh;
}

.h-8px {
  height: 8px;
}

.w-9p {
  width: 9%;
}

.w-9vw {
  width: 9vw;
}

.w-9px {
  width: 9px;
}

.h-9p {
  height: 9%;
}

.h-9vh {
  height: 9vh;
}

.h-9px {
  height: 9px;
}

.w-10p {
  width: 10%;
}

.w-10vw {
  width: 10vw;
}

.w-10px {
  width: 10px;
}

.h-10p {
  height: 10%;
}

.h-10vh {
  height: 10vh;
}

.h-10px {
  height: 10px;
}

.w-11p {
  width: 11%;
}

.w-11vw {
  width: 11vw;
}

.w-11px {
  width: 11px;
}

.h-11p {
  height: 11%;
}

.h-11vh {
  height: 11vh;
}

.h-11px {
  height: 11px;
}

.w-12p {
  width: 12%;
}

.w-12vw {
  width: 12vw;
}

.w-12px {
  width: 12px;
}

.h-12p {
  height: 12%;
}

.h-12vh {
  height: 12vh;
}

.h-12px {
  height: 12px;
}

.w-13p {
  width: 13%;
}

.w-13vw {
  width: 13vw;
}

.w-13px {
  width: 13px;
}

.h-13p {
  height: 13%;
}

.h-13vh {
  height: 13vh;
}

.h-13px {
  height: 13px;
}

.w-14p {
  width: 14%;
}

.w-14vw {
  width: 14vw;
}

.w-14px {
  width: 14px;
}

.h-14p {
  height: 14%;
}

.h-14vh {
  height: 14vh;
}

.h-14px {
  height: 14px;
}

.w-15p {
  width: 15%;
}

.w-15vw {
  width: 15vw;
}

.w-15px {
  width: 15px;
}

.h-15p {
  height: 15%;
}

.h-15vh {
  height: 15vh;
}

.h-15px {
  height: 15px;
}

.w-16p {
  width: 16%;
}

.w-16vw {
  width: 16vw;
}

.w-16px {
  width: 16px;
}

.h-16p {
  height: 16%;
}

.h-16vh {
  height: 16vh;
}

.h-16px {
  height: 16px;
}

.w-17p {
  width: 17%;
}

.w-17vw {
  width: 17vw;
}

.w-17px {
  width: 17px;
}

.h-17p {
  height: 17%;
}

.h-17vh {
  height: 17vh;
}

.h-17px {
  height: 17px;
}

.w-18p {
  width: 18%;
}

.w-18vw {
  width: 18vw;
}

.w-18px {
  width: 18px;
}

.h-18p {
  height: 18%;
}

.h-18vh {
  height: 18vh;
}

.h-18px {
  height: 18px;
}

.w-19p {
  width: 19%;
}

.w-19vw {
  width: 19vw;
}

.w-19px {
  width: 19px;
}

.h-19p {
  height: 19%;
}

.h-19vh {
  height: 19vh;
}

.h-19px {
  height: 19px;
}

.w-20p {
  width: 20%;
}

.w-20vw {
  width: 20vw;
}

.w-20px {
  width: 20px;
}

.h-20p {
  height: 20%;
}

.h-20vh {
  height: 20vh;
}

.h-20px {
  height: 20px;
}

.w-21p {
  width: 21%;
}

.w-21vw {
  width: 21vw;
}

.w-21px {
  width: 21px;
}

.h-21p {
  height: 21%;
}

.h-21vh {
  height: 21vh;
}

.h-21px {
  height: 21px;
}

.w-22p {
  width: 22%;
}

.w-22vw {
  width: 22vw;
}

.w-22px {
  width: 22px;
}

.h-22p {
  height: 22%;
}

.h-22vh {
  height: 22vh;
}

.h-22px {
  height: 22px;
}

.w-23p {
  width: 23%;
}

.w-23vw {
  width: 23vw;
}

.w-23px {
  width: 23px;
}

.h-23p {
  height: 23%;
}

.h-23vh {
  height: 23vh;
}

.h-23px {
  height: 23px;
}

.w-24p {
  width: 24%;
}

.w-24vw {
  width: 24vw;
}

.w-24px {
  width: 24px;
}

.h-24p {
  height: 24%;
}

.h-24vh {
  height: 24vh;
}

.h-24px {
  height: 24px;
}

.w-25p {
  width: 25%;
}

.w-25vw {
  width: 25vw;
}

.w-25px {
  width: 25px;
}

.h-25p {
  height: 25%;
}

.h-25vh {
  height: 25vh;
}

.h-25px {
  height: 25px;
}

.w-26p {
  width: 26%;
}

.w-26vw {
  width: 26vw;
}

.w-26px {
  width: 26px;
}

.h-26p {
  height: 26%;
}

.h-26vh {
  height: 26vh;
}

.h-26px {
  height: 26px;
}

.w-27p {
  width: 27%;
}

.w-27vw {
  width: 27vw;
}

.w-27px {
  width: 27px;
}

.h-27p {
  height: 27%;
}

.h-27vh {
  height: 27vh;
}

.h-27px {
  height: 27px;
}

.w-28p {
  width: 28%;
}

.w-28vw {
  width: 28vw;
}

.w-28px {
  width: 28px;
}

.h-28p {
  height: 28%;
}

.h-28vh {
  height: 28vh;
}

.h-28px {
  height: 28px;
}

.w-29p {
  width: 29%;
}

.w-29vw {
  width: 29vw;
}

.w-29px {
  width: 29px;
}

.h-29p {
  height: 29%;
}

.h-29vh {
  height: 29vh;
}

.h-29px {
  height: 29px;
}

.w-30p {
  width: 30%;
}

.w-30vw {
  width: 30vw;
}

.w-30px {
  width: 30px;
}

.h-30p {
  height: 30%;
}

.h-30vh {
  height: 30vh;
}

.h-30px {
  height: 30px;
}

.w-31p {
  width: 31%;
}

.w-31vw {
  width: 31vw;
}

.w-31px {
  width: 31px;
}

.h-31p {
  height: 31%;
}

.h-31vh {
  height: 31vh;
}

.h-31px {
  height: 31px;
}

.w-32p {
  width: 32%;
}

.w-32vw {
  width: 32vw;
}

.w-32px {
  width: 32px;
}

.h-32p {
  height: 32%;
}

.h-32vh {
  height: 32vh;
}

.h-32px {
  height: 32px;
}

.w-33p {
  width: 33%;
}

.w-33vw {
  width: 33vw;
}

.w-33px {
  width: 33px;
}

.h-33p {
  height: 33%;
}

.h-33vh {
  height: 33vh;
}

.h-33px {
  height: 33px;
}

.w-34p {
  width: 34%;
}

.w-34vw {
  width: 34vw;
}

.w-34px {
  width: 34px;
}

.h-34p {
  height: 34%;
}

.h-34vh {
  height: 34vh;
}

.h-34px {
  height: 34px;
}

.w-35p {
  width: 35%;
}

.w-35vw {
  width: 35vw;
}

.w-35px {
  width: 35px;
}

.h-35p {
  height: 35%;
}

.h-35vh {
  height: 35vh;
}

.h-35px {
  height: 35px;
}

.w-36p {
  width: 36%;
}

.w-36vw {
  width: 36vw;
}

.w-36px {
  width: 36px;
}

.h-36p {
  height: 36%;
}

.h-36vh {
  height: 36vh;
}

.h-36px {
  height: 36px;
}

.w-37p {
  width: 37%;
}

.w-37vw {
  width: 37vw;
}

.w-37px {
  width: 37px;
}

.h-37p {
  height: 37%;
}

.h-37vh {
  height: 37vh;
}

.h-37px {
  height: 37px;
}

.w-38p {
  width: 38%;
}

.w-38vw {
  width: 38vw;
}

.w-38px {
  width: 38px;
}

.h-38p {
  height: 38%;
}

.h-38vh {
  height: 38vh;
}

.h-38px {
  height: 38px;
}

.w-39p {
  width: 39%;
}

.w-39vw {
  width: 39vw;
}

.w-39px {
  width: 39px;
}

.h-39p {
  height: 39%;
}

.h-39vh {
  height: 39vh;
}

.h-39px {
  height: 39px;
}

.w-40p {
  width: 40%;
}

.w-40vw {
  width: 40vw;
}

.w-40px {
  width: 40px;
}

.h-40p {
  height: 40%;
}

.h-40vh {
  height: 40vh;
}

.h-40px {
  height: 40px;
}

.w-41p {
  width: 41%;
}

.w-41vw {
  width: 41vw;
}

.w-41px {
  width: 41px;
}

.h-41p {
  height: 41%;
}

.h-41vh {
  height: 41vh;
}

.h-41px {
  height: 41px;
}

.w-42p {
  width: 42%;
}

.w-42vw {
  width: 42vw;
}

.w-42px {
  width: 42px;
}

.h-42p {
  height: 42%;
}

.h-42vh {
  height: 42vh;
}

.h-42px {
  height: 42px;
}

.w-43p {
  width: 43%;
}

.w-43vw {
  width: 43vw;
}

.w-43px {
  width: 43px;
}

.h-43p {
  height: 43%;
}

.h-43vh {
  height: 43vh;
}

.h-43px {
  height: 43px;
}

.w-44p {
  width: 44%;
}

.w-44vw {
  width: 44vw;
}

.w-44px {
  width: 44px;
}

.h-44p {
  height: 44%;
}

.h-44vh {
  height: 44vh;
}

.h-44px {
  height: 44px;
}

.w-45p {
  width: 45%;
}

.w-45vw {
  width: 45vw;
}

.w-45px {
  width: 45px;
}

.h-45p {
  height: 45%;
}

.h-45vh {
  height: 45vh;
}

.h-45px {
  height: 45px;
}

.w-46p {
  width: 46%;
}

.w-46vw {
  width: 46vw;
}

.w-46px {
  width: 46px;
}

.h-46p {
  height: 46%;
}

.h-46vh {
  height: 46vh;
}

.h-46px {
  height: 46px;
}

.w-47p {
  width: 47%;
}

.w-47vw {
  width: 47vw;
}

.w-47px {
  width: 47px;
}

.h-47p {
  height: 47%;
}

.h-47vh {
  height: 47vh;
}

.h-47px {
  height: 47px;
}

.w-48p {
  width: 48%;
}

.w-48vw {
  width: 48vw;
}

.w-48px {
  width: 48px;
}

.h-48p {
  height: 48%;
}

.h-48vh {
  height: 48vh;
}

.h-48px {
  height: 48px;
}

.w-49p {
  width: 49%;
}

.w-49vw {
  width: 49vw;
}

.w-49px {
  width: 49px;
}

.h-49p {
  height: 49%;
}

.h-49vh {
  height: 49vh;
}

.h-49px {
  height: 49px;
}

.w-50p {
  width: 50%;
}

.w-50vw {
  width: 50vw;
}

.w-50px {
  width: 50px;
}

.h-50p {
  height: 50%;
}

.h-50vh {
  height: 50vh;
}

.h-50px {
  height: 50px;
}

.w-51p {
  width: 51%;
}

.w-51vw {
  width: 51vw;
}

.w-51px {
  width: 51px;
}

.h-51p {
  height: 51%;
}

.h-51vh {
  height: 51vh;
}

.h-51px {
  height: 51px;
}

.w-52p {
  width: 52%;
}

.w-52vw {
  width: 52vw;
}

.w-52px {
  width: 52px;
}

.h-52p {
  height: 52%;
}

.h-52vh {
  height: 52vh;
}

.h-52px {
  height: 52px;
}

.w-53p {
  width: 53%;
}

.w-53vw {
  width: 53vw;
}

.w-53px {
  width: 53px;
}

.h-53p {
  height: 53%;
}

.h-53vh {
  height: 53vh;
}

.h-53px {
  height: 53px;
}

.w-54p {
  width: 54%;
}

.w-54vw {
  width: 54vw;
}

.w-54px {
  width: 54px;
}

.h-54p {
  height: 54%;
}

.h-54vh {
  height: 54vh;
}

.h-54px {
  height: 54px;
}

.w-55p {
  width: 55%;
}

.w-55vw {
  width: 55vw;
}

.w-55px {
  width: 55px;
}

.h-55p {
  height: 55%;
}

.h-55vh {
  height: 55vh;
}

.h-55px {
  height: 55px;
}

.w-56p {
  width: 56%;
}

.w-56vw {
  width: 56vw;
}

.w-56px {
  width: 56px;
}

.h-56p {
  height: 56%;
}

.h-56vh {
  height: 56vh;
}

.h-56px {
  height: 56px;
}

.w-57p {
  width: 57%;
}

.w-57vw {
  width: 57vw;
}

.w-57px {
  width: 57px;
}

.h-57p {
  height: 57%;
}

.h-57vh {
  height: 57vh;
}

.h-57px {
  height: 57px;
}

.w-58p {
  width: 58%;
}

.w-58vw {
  width: 58vw;
}

.w-58px {
  width: 58px;
}

.h-58p {
  height: 58%;
}

.h-58vh {
  height: 58vh;
}

.h-58px {
  height: 58px;
}

.w-59p {
  width: 59%;
}

.w-59vw {
  width: 59vw;
}

.w-59px {
  width: 59px;
}

.h-59p {
  height: 59%;
}

.h-59vh {
  height: 59vh;
}

.h-59px {
  height: 59px;
}

.w-60p {
  width: 60%;
}

.w-60vw {
  width: 60vw;
}

.w-60px {
  width: 60px;
}

.h-60p {
  height: 60%;
}

.h-60vh {
  height: 60vh;
}

.h-60px {
  height: 60px;
}

.w-61p {
  width: 61%;
}

.w-61vw {
  width: 61vw;
}

.w-61px {
  width: 61px;
}

.h-61p {
  height: 61%;
}

.h-61vh {
  height: 61vh;
}

.h-61px {
  height: 61px;
}

.w-62p {
  width: 62%;
}

.w-62vw {
  width: 62vw;
}

.w-62px {
  width: 62px;
}

.h-62p {
  height: 62%;
}

.h-62vh {
  height: 62vh;
}

.h-62px {
  height: 62px;
}

.w-63p {
  width: 63%;
}

.w-63vw {
  width: 63vw;
}

.w-63px {
  width: 63px;
}

.h-63p {
  height: 63%;
}

.h-63vh {
  height: 63vh;
}

.h-63px {
  height: 63px;
}

.w-64p {
  width: 64%;
}

.w-64vw {
  width: 64vw;
}

.w-64px {
  width: 64px;
}

.h-64p {
  height: 64%;
}

.h-64vh {
  height: 64vh;
}

.h-64px {
  height: 64px;
}

.w-65p {
  width: 65%;
}

.w-65vw {
  width: 65vw;
}

.w-65px {
  width: 65px;
}

.h-65p {
  height: 65%;
}

.h-65vh {
  height: 65vh;
}

.h-65px {
  height: 65px;
}

.w-66p {
  width: 66%;
}

.w-66vw {
  width: 66vw;
}

.w-66px {
  width: 66px;
}

.h-66p {
  height: 66%;
}

.h-66vh {
  height: 66vh;
}

.h-66px {
  height: 66px;
}

.w-67p {
  width: 67%;
}

.w-67vw {
  width: 67vw;
}

.w-67px {
  width: 67px;
}

.h-67p {
  height: 67%;
}

.h-67vh {
  height: 67vh;
}

.h-67px {
  height: 67px;
}

.w-68p {
  width: 68%;
}

.w-68vw {
  width: 68vw;
}

.w-68px {
  width: 68px;
}

.h-68p {
  height: 68%;
}

.h-68vh {
  height: 68vh;
}

.h-68px {
  height: 68px;
}

.w-69p {
  width: 69%;
}

.w-69vw {
  width: 69vw;
}

.w-69px {
  width: 69px;
}

.h-69p {
  height: 69%;
}

.h-69vh {
  height: 69vh;
}

.h-69px {
  height: 69px;
}

.w-70p {
  width: 70%;
}

.w-70vw {
  width: 70vw;
}

.w-70px {
  width: 70px;
}

.h-70p {
  height: 70%;
}

.h-70vh {
  height: 70vh;
}

.h-70px {
  height: 70px;
}

.w-71p {
  width: 71%;
}

.w-71vw {
  width: 71vw;
}

.w-71px {
  width: 71px;
}

.h-71p {
  height: 71%;
}

.h-71vh {
  height: 71vh;
}

.h-71px {
  height: 71px;
}

.w-72p {
  width: 72%;
}

.w-72vw {
  width: 72vw;
}

.w-72px {
  width: 72px;
}

.h-72p {
  height: 72%;
}

.h-72vh {
  height: 72vh;
}

.h-72px {
  height: 72px;
}

.w-73p {
  width: 73%;
}

.w-73vw {
  width: 73vw;
}

.w-73px {
  width: 73px;
}

.h-73p {
  height: 73%;
}

.h-73vh {
  height: 73vh;
}

.h-73px {
  height: 73px;
}

.w-74p {
  width: 74%;
}

.w-74vw {
  width: 74vw;
}

.w-74px {
  width: 74px;
}

.h-74p {
  height: 74%;
}

.h-74vh {
  height: 74vh;
}

.h-74px {
  height: 74px;
}

.w-75p {
  width: 75%;
}

.w-75vw {
  width: 75vw;
}

.w-75px {
  width: 75px;
}

.h-75p {
  height: 75%;
}

.h-75vh {
  height: 75vh;
}

.h-75px {
  height: 75px;
}

.w-76p {
  width: 76%;
}

.w-76vw {
  width: 76vw;
}

.w-76px {
  width: 76px;
}

.h-76p {
  height: 76%;
}

.h-76vh {
  height: 76vh;
}

.h-76px {
  height: 76px;
}

.w-77p {
  width: 77%;
}

.w-77vw {
  width: 77vw;
}

.w-77px {
  width: 77px;
}

.h-77p {
  height: 77%;
}

.h-77vh {
  height: 77vh;
}

.h-77px {
  height: 77px;
}

.w-78p {
  width: 78%;
}

.w-78vw {
  width: 78vw;
}

.w-78px {
  width: 78px;
}

.h-78p {
  height: 78%;
}

.h-78vh {
  height: 78vh;
}

.h-78px {
  height: 78px;
}

.w-79p {
  width: 79%;
}

.w-79vw {
  width: 79vw;
}

.w-79px {
  width: 79px;
}

.h-79p {
  height: 79%;
}

.h-79vh {
  height: 79vh;
}

.h-79px {
  height: 79px;
}

.w-80p {
  width: 80%;
}

.w-80vw {
  width: 80vw;
}

.w-80px {
  width: 80px;
}

.h-80p {
  height: 80%;
}

.h-80vh {
  height: 80vh;
}

.h-80px {
  height: 80px;
}

.w-81p {
  width: 81%;
}

.w-81vw {
  width: 81vw;
}

.w-81px {
  width: 81px;
}

.h-81p {
  height: 81%;
}

.h-81vh {
  height: 81vh;
}

.h-81px {
  height: 81px;
}

.w-82p {
  width: 82%;
}

.w-82vw {
  width: 82vw;
}

.w-82px {
  width: 82px;
}

.h-82p {
  height: 82%;
}

.h-82vh {
  height: 82vh;
}

.h-82px {
  height: 82px;
}

.w-83p {
  width: 83%;
}

.w-83vw {
  width: 83vw;
}

.w-83px {
  width: 83px;
}

.h-83p {
  height: 83%;
}

.h-83vh {
  height: 83vh;
}

.h-83px {
  height: 83px;
}

.w-84p {
  width: 84%;
}

.w-84vw {
  width: 84vw;
}

.w-84px {
  width: 84px;
}

.h-84p {
  height: 84%;
}

.h-84vh {
  height: 84vh;
}

.h-84px {
  height: 84px;
}

.w-85p {
  width: 85%;
}

.w-85vw {
  width: 85vw;
}

.w-85px {
  width: 85px;
}

.h-85p {
  height: 85%;
}

.h-85vh {
  height: 85vh;
}

.h-85px {
  height: 85px;
}

.w-86p {
  width: 86%;
}

.w-86vw {
  width: 86vw;
}

.w-86px {
  width: 86px;
}

.h-86p {
  height: 86%;
}

.h-86vh {
  height: 86vh;
}

.h-86px {
  height: 86px;
}

.w-87p {
  width: 87%;
}

.w-87vw {
  width: 87vw;
}

.w-87px {
  width: 87px;
}

.h-87p {
  height: 87%;
}

.h-87vh {
  height: 87vh;
}

.h-87px {
  height: 87px;
}

.w-88p {
  width: 88%;
}

.w-88vw {
  width: 88vw;
}

.w-88px {
  width: 88px;
}

.h-88p {
  height: 88%;
}

.h-88vh {
  height: 88vh;
}

.h-88px {
  height: 88px;
}

.w-89p {
  width: 89%;
}

.w-89vw {
  width: 89vw;
}

.w-89px {
  width: 89px;
}

.h-89p {
  height: 89%;
}

.h-89vh {
  height: 89vh;
}

.h-89px {
  height: 89px;
}

.w-90p {
  width: 90%;
}

.w-90vw {
  width: 90vw;
}

.w-90px {
  width: 90px;
}

.h-90p {
  height: 90%;
}

.h-90vh {
  height: 90vh;
}

.h-90px {
  height: 90px;
}

.w-91p {
  width: 91%;
}

.w-91vw {
  width: 91vw;
}

.w-91px {
  width: 91px;
}

.h-91p {
  height: 91%;
}

.h-91vh {
  height: 91vh;
}

.h-91px {
  height: 91px;
}

.w-92p {
  width: 92%;
}

.w-92vw {
  width: 92vw;
}

.w-92px {
  width: 92px;
}

.h-92p {
  height: 92%;
}

.h-92vh {
  height: 92vh;
}

.h-92px {
  height: 92px;
}

.w-93p {
  width: 93%;
}

.w-93vw {
  width: 93vw;
}

.w-93px {
  width: 93px;
}

.h-93p {
  height: 93%;
}

.h-93vh {
  height: 93vh;
}

.h-93px {
  height: 93px;
}

.w-94p {
  width: 94%;
}

.w-94vw {
  width: 94vw;
}

.w-94px {
  width: 94px;
}

.h-94p {
  height: 94%;
}

.h-94vh {
  height: 94vh;
}

.h-94px {
  height: 94px;
}

.w-95p {
  width: 95%;
}

.w-95vw {
  width: 95vw;
}

.w-95px {
  width: 95px;
}

.h-95p {
  height: 95%;
}

.h-95vh {
  height: 95vh;
}

.h-95px {
  height: 95px;
}

.w-96p {
  width: 96%;
}

.w-96vw {
  width: 96vw;
}

.w-96px {
  width: 96px;
}

.h-96p {
  height: 96%;
}

.h-96vh {
  height: 96vh;
}

.h-96px {
  height: 96px;
}

.w-97p {
  width: 97%;
}

.w-97vw {
  width: 97vw;
}

.w-97px {
  width: 97px;
}

.h-97p {
  height: 97%;
}

.h-97vh {
  height: 97vh;
}

.h-97px {
  height: 97px;
}

.w-98p {
  width: 98%;
}

.w-98vw {
  width: 98vw;
}

.w-98px {
  width: 98px;
}

.h-98p {
  height: 98%;
}

.h-98vh {
  height: 98vh;
}

.h-98px {
  height: 98px;
}

.w-99p {
  width: 99%;
}

.w-99vw {
  width: 99vw;
}

.w-99px {
  width: 99px;
}

.h-99p {
  height: 99%;
}

.h-99vh {
  height: 99vh;
}

.h-99px {
  height: 99px;
}

.w-100p {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

.w-100px {
  width: 100px;
}

.h-100p {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-100px {
  height: 100px;
}/*# sourceMappingURL=style.css.map */