$flex:(
    // ===========
    // Display
    // ===========
    "display" : (
        "prefix" : "d",
        "values" : (
            "flex" : flex,
        ),
    ),

    // ===========
    // Justify Content
    // ===========
    "justify-content" : (
        "prefix" : "jc",
        "values" : (
            "start" : start,
            "center" : center,
            "end" : end,
            "left" : left,
            "right" : right,
            "stretch" : stretch,
            "f-start" : flex-start,
            "f-end" : flex-end,
            "between" : space-between,
            "around" : space-around,
            "evenly" : space-evenly,
        ),
    ),

    // ===========
    // Align Items
    // ===========
    "align-items" : (
        "prefix" : "ai",
        "values" : (
            "normal" : normal,
            "stretch" : stretch,
            "center" : center,
            "baseline" : baseline,
            "f-start" : flex-start,
            "f-end" : flex-end,
            "start" : start,
            "end" : end,
            "flex-end" : flex-end,
            "flex-start" : flex-start,
        ),
    ),

    // ===========
    // Align Content
    // ===========
    "align-content" : (
        "prefix" : "ac",
        "values" : (
            "stretch" : stretch,
            "center" : center,
            "f-start" : flex-start,
            "f-end" : flex-end,
            "between" : space-between,
            "around" : space-around,
            "evenly" : space-evenly,
        ),
    ),

    // ===========
    // Flex-Wrap
    // ===========
    "flex-wrap" : (
        "prefix" : "fw",
        "values" : (
            "wrap" : wrap,
            "nowrap" : nowrap,
            "reverse" : wrap-reverse,
        ),
    ),

    
    // ===========
    // Flex-Flow
    // ===========
    "flex-flow" : (
        "prefix" : "ff",
        "values" : (
            "r" : row,
            "rr" : row-reverse,
            "c" : column,
            "cr" : column-reverse,
            "rw" : row wrap,
            "rwr" : row wrap-reverse,
            "rrw" : row-reverse wrap,
            "rrwr" : row-reverse wrap-reverse,
            "rnw" : row nowrap,
            "rrnw" : row-reverse nowrap,
            "cw" : column wrap,
            "cwr" : column wrap-reverse,
            "crw" : column-reverse wrap,
            "crwr" : column-reverse wrap-reverse,
            "cnw" : column nowrap,
            "crnw" : column-reverse nowrap,
        ),
    ),

    // ===========
    // Gap
    // ===========
    "gap" : (
        "prefix" : "g",
        "values" : (
            "0" : 0,
            "p25" : 0.25em,
            "p5" : 0.5em,
            "p75" : 0.75em,
            "1" : 1em,
            "1p5" : 1.5em,
            "2" : 2em,
            "2p5" : 2.5em,
            "3" : 3em,
            "3p5" : 3.5em,
            "4" : 4em,
            "4p5" : 4.5em,
            "5" : 5em,
            "5p5" : 5.5em,
            "6" : 6em,
            "6p5" : 6.5em,
            "7" : 7em,
            "7p5" : 7.5em,
            "8" : 8em,
            "8p5" : 8.5em,
            "9" : 9em,
            "9p5" : 9.5em,
            "10" : 10em,
        ),
    ),

    "flex-direction" : (
        "prefix" : "fd",
        "values" : (
            "row" : row,
            "row-reverse" : row-reverse,
            "col" : column,
            "col-reverse" : column-reverse,
        ),
    ),
);

@each $property, $map in $flex {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $val in $values {
        .#{$prefix}-#{$key} {
            #{$property} : $val;
        }
    }
}