.m-auto {
  margin: 0 auto;
}

@for $i from 0 through 100 {
  // ============
  // PX
  // ============
  // ONE VALUE
  .m-#{$i}#{"px"}-auto {
    margin: #{$i}#{"px"} auto;
  }
  .m-#{$i}-px {
    margin: #{$i}#{"px"};
  }
  .mt-#{$i}-px {
    margin-top: #{$i}#{"px"};
  }
  .mb-#{$i}-px {
    margin-bottom: #{$i}#{"px"};
  }
  .ml-#{$i}-px {
    margin-left: #{$i}#{"px"};
  }
  .mr-#{$i}-px {
    margin-right: #{$i}#{"px"};
  }
  @for $j from 0 through 100 {
    // TWO VALUES
    .m-#{$i}-#{$j}-px {
      margin: #{$i}#{"px"} #{$j}#{"px"};
    }
  }

  // ============
  // EM
  // ============
  // One Value
  .m-#{$i}#{"em"}-auto {
    margin: #{$i}#{"em"} auto;
  }
  .m-#{$i}-em {
    margin: #{$i}#{"em"};
  }
  .mt-#{$i}-em {
    margin-top: #{$i}#{"em"};
  }
  .mb-#{$i}-em {
    margin-bottom: #{$i}#{"em"};
  }
  .ml-#{$i}-em {
    margin-left: #{$i}#{"em"};
  }
  .mr-#{$i}-em {
    margin-right: #{$i}#{"em"};
  }

  @for $j from 0 through 100 {
    // TWO VALUES
    .m-#{$i}-#{$j}-em {
      margin: #{$i}#{"em"} #{$j}#{"em"};
    }
  }
  // ============
  // REM
  // ============
  // One Value
  .m-#{$i}#{"rem"}-auto {
    margin: #{$i}#{"rem"} auto;
  }
  .m-#{$i}-rem {
    margin: #{$i}#{"rem"};
  }
  .mt-#{$i}-rem {
    margin-top: #{$i}#{"rem"};
  }
  .mb-#{$i}-rem {
    margin-bottom: #{$i}#{"rem"};
  }
  .ml-#{$i}-rem {
    margin-left: #{$i}#{"rem"};
  }
  .mr-#{$i}-rem {
    margin-right: #{$i}#{"rem"};
  }

  @for $j from 0 through 100 {
    // TWO VALUES
    .m-#{$i}-#{$j}-rem {
      margin: #{$i}#{"rem"} #{$j}#{"rem"};
    }
  }

  // ============
  // %
  // ============
  // ONE VALUE
  .m-#{$i}#{"pct"}-auto {
    margin: #{$i}#{"%"} auto;
  }
  .m-#{$i}-pct {
    margin: #{$i}#{"%"};
  }
  .mt-#{$i}-pct {
    margin-top: #{$i}#{"%"};
  }
  .mb-#{$i}-pct {
    margin-bottom: #{$i}#{"%"};
  }
  .ml-#{$i}-pct {
    margin-left: #{$i}#{"%"};
  }
  .mr-#{$i}-pct {
    margin-right: #{$i}#{"%"};
  }

  @for $j from 0 through 100 {
    // TWO VALUES
    .m-#{$i}-#{$j}-pct {
      margin: #{$i}#{"%"} #{$j}#{"%"};
    }
  }
}
