@each $key, $val in $colorMap {

    .t-#{$key} {
        color: $val;
    }
    @for $i from 1 through 99 {
        .t-#{$key}-op-#{$i} {
            color: $val;
            opacity: #{$i}#{"%"};
        }
    }

    @for $i from 1 through 9 {
        .t-#{$key}-light-#{$i} {
            color: mix(white, $val,$i * 10%);
        }
        .t-#{$key}-dark-#{$i} {
            color: mix(black, $val,$i * 10%);
        }
    }
}